In [1]:
import pandas as pd

In [2]:
#PANDAS by Examples

In [3]:
df = pd.read_csv("E:\Python\Pandas_Project\Data\data.csv")
df

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
...,...,...,...,...,...,...,...,...,...,...,...
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
198,Female,52,1,often,multimedia resources,no,39,Windows,17,Rural Municipality,Christian
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

In [4]:
df.head()

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other

In [5]:
df.head(1)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu

In [6]:
df.head(3)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism

In [7]:
df.tail(10)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
190,male,50,2,often,educational apps,no,37,Windows,15,Municipality,Muslim
191,Female,70,4,always,online platforms,yes,43,others,14,Rural Municipality,other
192,male,50,2,often,multimedia resources,no,34,Android,12,Submetropolitan,Hindu
193,Female,57,5,always,"interactive whiteboards,",yes,46,IOS,15,Rural Municipality,Christian
194,male,68,2,often,"interactive whiteboards,",no,45,Android,12,Submetropolitan,Christian
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
198,Female,52,1,often,multimedia resources,no,39,Windows,17,Rural Municipality,Christian
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

In [8]:
df.tail(20)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
180,male,76,5,always,educational apps,yes,42,IOS,19,Rural Municipality,Christian
181,Female,64,2,often,multimedia resources,yes,37,others,17,Municipality,Buddism
182,male,56,4,always,educational apps,yes,37,IOS,16,Metropolitan City,Christian
183,Female,52,5,sometimes,online platforms,yes,44,IOS,15,Submetropolitan,Hindu
184,male,58,2,often,multimedia resources,no,43,Android,12,Municipality,Buddism
185,Female,55,3,often,online platforms,yes,41,IOS,13,Rural Municipality,Christian
186,male,49,4,always,multimedia resources,no,43,Windows,17,Metropolitan City,other
187,Female,68,5,often,online platforms,yes,43,Android,18,Municipality,Christian
188,male,65,6,always,online platforms,no,47,Android,18,Rural Municipality,Hindu
189,Female,75,2,sometimes,multimedia resources,yes,44,IOS,16,Submetropolitan,Christian
190,male,50,2,often,educational apps,no,37,Windows,15,Municipality,Muslim
191,Female,70,4,always,online platforms,yes,43,others,14,Rural Municipality,other
192,male,50,2,often,multimedia resources,no,34,Android,12,Submetropolitan,Hindu
193,Female,57,5,always,"interactive whiteboards,",yes,46,IOS,15,Rural Municipality,Christian
194,male,68,2,often,"interactive whiteboards,",no,45,Android,12,Submetropolitan,Christian
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
198,Female,52,1,often,multimedia resources,no,39,Windows,17,Rural Municipality,Christian
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

Activities

In [9]:
#How may elements does this dataframe have? 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 200 non-null    object
 1   Marks_Math             200 non-null    int64
 2   Time_ICT               200 non-null    int64
 3   ICT_Based_Pedagogy     200 non-null    object
 4   ICT_Tools              200 non-null    object
 5   TPD_ICT                200 non-null    object
 6   CS_Marks               200 non-null    int64
 7   Operating_system_Used  200 non-null    object
 8   Age                    200 non-null    int64
 9   Residental_Area        200 non-null    object
 10  Religion               200 non-null    object
dtypes: int64(4), object(7)
memory usage: 17.3+ KB

In [10]:
df.shape #Rows and columns

(200, 11)

In [11]:
#What is t he highest possible value of the word
df['Age'].max()

20

In [12]:
df.max() #For maximum value of the dataframe

Gender                               male
Marks_Math                             94
Time_ICT                                7
ICT_Based_Pedagogy              sometimes
ICT_Tools                online platforms
TPD_ICT                               yes
CS_Marks                               49
Operating_system_Used              others
Age                                    20
Residental_Area           Submetropolitan
Religion                            other
dtype: object

In [13]:
df.describe()

       Marks_Math    Time_ICT    CS_Marks         Age
count  200.000000  200.000000  200.000000  200.000000
mean    63.725000    3.355000   41.165000   14.900000
std     11.799386    1.533209    3.168275    1.883544
min     33.000000    1.000000   33.000000   12.000000
25%     56.000000    2.000000   39.000000   13.000000
50%     64.000000    3.000000   41.000000   15.000000
75%     72.000000    5.000000   43.000000   16.000000
max     94.000000    7.000000   49.000000   20.000000

In [14]:
df.min()

Gender                              Female
Marks_Math                              33
Time_ICT                                 1
ICT_Based_Pedagogy                  always
ICT_Tools                 educational apps
TPD_ICT                                 no
CS_Marks                                33
Operating_system_Used                    5
Age                                     12
Residental_Area          Metropolitan City
Religion                           Buddism
dtype: object

In [15]:
df["Age"]

0      17
1      18
2      18
3      19
4      17
       ..
195    15
196    14
197    20
198    17
199    18
Name: Age, Length: 200, dtype: int64

Selection of Data

In [16]:
df.head(10)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
5,Female,37,2,sometimes,educational apps,yes,43,IOS,16,Municipality,Hindu
6,Female,36,3,rarely,"interactive whiteboards,",no,48,Windows,15,Submetropolitan,Buddism
7,Female,48,4,always,online platforms,yes,38,others,12,Rural Municipality,Christian
8,Female,68,1,sometimes,educational apps,no,40,Android,13,Submetropolitan,other
9,Female,72,3,always,online platforms,yes,40,IOS,17,Municipality,Christian

In [17]:
#Column Selectioni
df["Marks_Math"]

0      51
1      55
2      65
3      79
4      67
       ..
195    68
196    54
197    72
198    52
199    54
Name: Marks_Math, Length: 200, dtype: int64

In [18]:
df["CS_Marks"]

0      43
1      41
2      45
3      40
4      44
       ..
195    44
196    45
197    41
198    39
199    37
Name: CS_Marks, Length: 200, dtype: int64

In [19]:
df["ICT_Based_Pedagogy"]

0         rarely
1      sometimes
2         always
3         rarely
4          often
         ...
195       always
196        often
197       always
198        often
199       always
Name: ICT_Based_Pedagogy, Length: 200, dtype: object

In [20]:
#Slicing and Selecting Rows
df[0:3] #Provides first three rows Alternative of df.head(3)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism

In [21]:
#Selecting multiple columns
df[[
    "Age", "CS_Marks", "Gender"
]]

     Age  CS_Marks  Gender
0     17        43    male
1     18        41  Female
2     18        45    male
3     19        40  Female
4     17        44    male
..   ...       ...     ...
195   15        44  Female
196   14        45    male
197   20        41    male
198   17        39  Female
199   18        37    male

[200 rows x 3 columns]

In [22]:
df[[
    "ICT_Based_Pedagogy", "Gender", "Marks_Math", "Operating_system_Used", "Age"
]]

    ICT_Based_Pedagogy  Gender  Marks_Math Operating_system_Used  Age
0               rarely    male          51               Android   17
1            sometimes  Female          55                   IOS   18
2               always    male          65               Windows   18
3               rarely  Female          79                others   19
4                often    male          67               Android   17
..                 ...     ...         ...                   ...  ...
195             always  Female          68                others   15
196              often    male          54               Android   14
197             always    male          72                   IOS   20
198              often  Female          52               Windows   17
199             always    male          54                others   18

[200 rows x 5 columns]

In [23]:
#Selection by Level
df.loc[:, ["Age", "Gender"]]

     Age  Gender
0     17    male
1     18  Female
2     18    male
3     19  Female
4     17    male
..   ...     ...
195   15  Female
196   14    male
197   20    male
198   17  Female
199   18    male

[200 rows x 2 columns]

In [24]:
df.loc[0:10, ['Age', 'Gender']] #Selects only 11 rows of the data

    Age  Gender
0    17    male
1    18  Female
2    18    male
3    19  Female
4    17    male
5    16  Female
6    15  Female
7    12  Female
8    13  Female
9    17  Female
10   18    male

In [25]:
df.loc[0:20, ['Age', 'Gender', 'Marks_Math', 'CS_Marks']]

    Age  Gender  Marks_Math  CS_Marks
0    17    male          51        43
1    18  Female          55        41
2    18    male          65        45
3    19  Female          79        40
4    17    male          67        44
5    16  Female          37        43
6    15  Female          36        48
7    12  Female          48        38
8    13  Female          68        40
9    17  Female          72        40
10   18    male          45        43
11   18    male          47        39
12   16    male          54        42
13   15    male          70        42
14   14    male          58        40
15   12    male          85        43
16   15  Female          60        44
17   12    male          62        43
18   13  Female          75        40
19   14  Female          70        40
20   15    male          76        39

In [26]:
#Selection by Position
df.iloc[10] #Selects the 11th rows of the data

Gender                                 male
Marks_Math                               45
Time_ICT                                  4
ICT_Based_Pedagogy                    often
ICT_Tools                  online platforms
TPD_ICT                                  no
CS_Marks                                 43
Operating_system_Used               Windows
Age                                      18
Residental_Area          Rural Municipality
Religion                              Hindu
Name: 10, dtype: object

In [27]:
df.head(20)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
5,Female,37,2,sometimes,educational apps,yes,43,IOS,16,Municipality,Hindu
6,Female,36,3,rarely,"interactive whiteboards,",no,48,Windows,15,Submetropolitan,Buddism
7,Female,48,4,always,online platforms,yes,38,others,12,Rural Municipality,Christian
8,Female,68,1,sometimes,educational apps,no,40,Android,13,Submetropolitan,other
9,Female,72,3,always,online platforms,yes,40,IOS,17,Municipality,Christian
10,male,45,4,often,online platforms,no,43,Windows,18,Rural Municipality,Hindu
11,male,47,2,sometimes,multimedia resources,yes,39,others,18,Metropolitan City,Muslim
12,male,54,3,often,educational apps,no,42,Android,16,Municipality,Buddism
13,male,70,1,always,online platforms,no,42,IOS,15,Rural Municipality,other
14,male,58,4,rarely,multimedia resources,no,40,Windows,14,Submetropolitan,Hindu
15,male,85,1,often,educational apps,no,43,others,12,Municipality,Muslim
16,Female,60,2,sometimes,"interactive whiteboards,",yes,44,Android,15,Rural Municipality,Christian
17,male,62,4,always,educational apps,yes,43,IOS,12,Metropolitan City,Buddism
18,Female,75,2,rarely,online platforms,yes,40,Windows,13,Municipality,other
19,Female,70,1,often,online platforms,no,40,others,14,Submetropolitan,Hindu

In [28]:
df.iloc[3:5] #Selects 4th and 5th rows 
#Note: 5 means 6th row which will be excluded in the selection

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other

In [29]:
df.loc[3:5] #Loc function includes the last attribute that is 6th row of the dataframe

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
5,Female,37,2,sometimes,educational apps,yes,43,IOS,16,Municipality,Hindu

In [30]:
df.iloc[2:5, 0:5] #Number of rows and columns 
#Only three rows 3rd, 4th, & 5th rows and columns from 0 to 4 (5 columns)

   Gender  Marks_Math  Time_ICT ICT_Based_Pedagogy         ICT_Tools
2    male          65         3             always  online platforms
3  Female          79         4             rarely  online platforms
4    male          67         1              often  online platforms

In [31]:
#Slicing Rows Explicitly
df.iloc[1:5, :]

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other

In [32]:
#Getting value explicity
df.iloc[2, 2] #selects element of 3rd rows and 3rd column
df.iloc[3, 3] #select element of 4th row and 4th column

'rarely'

In [33]:
df.head()

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other

Copying the dataframe

In [34]:
df1 = df.copy()
df1

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
...,...,...,...,...,...,...,...,...,...,...,...
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
198,Female,52,1,often,multimedia resources,no,39,Windows,17,Rural Municipality,Christian
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

In [35]:
#Conditional Selection
df[df['Marks_Math']>80] #Selects the rows values which has greater than 80 in Marks in Math Column

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
15,male,85,1,often,educational apps,no,43,others,12,Municipality,Muslim
21,male,89,3,always,"interactive whiteboards,",yes,42,IOS,14,Submetropolitan,Christian
24,Female,84,3,often,multimedia resources,no,42,Android,16,Rural Municipality,Hindu
28,Female,83,2,often,educational apps,no,39,Android,13,Rural Municipality,Hindu
48,male,82,5,often,educational apps,no,44,Android,14,Submetropolitan,Muslim
59,male,94,2,sometimes,online platforms,no,43,Windows,16,Submetropolitan,Hindu
68,male,87,1,sometimes,educational apps,yes,45,Android,13,Rural Municipality,other
87,Female,85,3,rarely,online platforms,no,40,Windows,12,Municipality,Muslim
90,male,81,3,always,online platforms,yes,44,Windows,15,Submetropolitan,Muslim
142,Female,83,5,sometimes,multimedia resources,yes,41,IOS,16,Metropolitan City,Christian
145,Female,84,5,rarely,educational apps,no,44,others,13,Rural Municipality,other
150,male,85,5,sometimes,online platforms,yes,39,others,15,Municipality,Muslim
156,Female,83,4,always,multimedia resources,no,46,Windows,12,Submetropolitan,Christian

In [36]:
df[df['Time_ICT']>=7]

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
127,male,70,7,rarely,multimedia resources,no,39,Android,13,Municipality,other

In [37]:
df[df["Gender"] == "male"] #Selects the data which has male in the Gender column

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
10,male,45,4,often,online platforms,no,43,Windows,18,Rural Municipality,Hindu
11,male,47,2,sometimes,multimedia resources,yes,39,others,18,Metropolitan City,Muslim
...,...,...,...,...,...,...,...,...,...,...,...
192,male,50,2,often,multimedia resources,no,34,Android,12,Submetropolitan,Hindu
194,male,68,2,often,"interactive whiteboards,",no,45,Android,12,Submetropolitan,Christian
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

In [38]:
df[df["Residental_Area"]=="Metropolitan City"]

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
11,male,47,2,sometimes,multimedia resources,yes,39,others,18,Metropolitan City,Muslim
17,male,62,4,always,educational apps,yes,43,IOS,12,Metropolitan City,Buddism
23,male,73,2,sometimes,online platforms,yes,42,others,16,Metropolitan City,Buddism
26,Female,63,4,always,online platforms,no,47,Windows,13,Metropolitan City,Muslim
35,Female,79,2,rarely,online platforms,yes,44,IOS,15,Metropolitan City,Buddism
39,male,60,4,always,online platforms,yes,41,others,15,Metropolitan City,Christian
46,male,61,4,rarely,online platforms,yes,41,Windows,13,Metropolitan City,Buddism
53,male,61,2,often,multimedia resources,no,43,IOS,13,Metropolitan City,Christian
62,male,71,4,sometimes,educational apps,yes,41,IOS,16,Metropolitan City,Muslim
66,male,61,5,often,multimedia resources,yes,38,others,14,Metropolitan City,Muslim
75,Female,62,5,rarely,educational apps,yes,43,IOS,13,Metropolitan City,Muslim
79,Female,68,3,rarely,educational apps,no,39,others,14,Metropolitan City,Christian
86,male,73,5,always,educational apps,yes,46,Android,15,Metropolitan City,other
93,Female,74,3,always,multimedia resources,no,38,Android,14,Metropolitan City,Christian
102,male,60,4,often,multimedia resources,yes,40,Android,12,Metropolitan City,Muslim
106,Female,61,1,often,online platforms,yes,40,Android,14,Metropolitan City,Muslim
115,Female,68,4,often,educational apps,no,43,others,16,Metropolitan City,Hindu
119,Female,54,2,sometimes,educational apps,no,45,Windows,17,Metropolitan City,Hindu
126,male,68,4,always,online platforms,yes,45,Windows,12,Metropolitan City,Muslim
133,male,68,2,sometimes,multimedia resources,yes,41,Windows,14,Metropolitan City,Hindu
142,Female,83,5,sometimes,multimedia resources,yes,41,IOS,16,Metropolitan City,Christian
146,male,76,6,sometimes,online platforms,yes,40,Windows,12,Metropolitan City,Christian
155,male,70,3,often,online platforms,no,40,Windows,15,Metropolitan City,Hindu
159,Female,61,1,always,online platforms,yes,45,IOS,17,Metropolitan City,Hindu
166,male,59,2,sometimes,educational apps,yes,45,others,12,Metropolitan City,Muslim
173,Female,56,6,always,online platforms,no,38,others,14,Metropolitan City,Hindu
182,male,56,4,always,educational apps,yes,37,IOS,16,Metropolitan City,Christian
186,male,49,4,always,multimedia resources,no,43,Windows,17,Metropolitan City,other
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

In [39]:
df[df["Operating_system_Used"]=="Android"]

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,1,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
8,Female,68,1,sometimes,educational apps,no,40,Android,13,Submetropolitan,other
12,male,54,3,often,educational apps,no,42,Android,16,Municipality,Buddism
16,Female,60,2,sometimes,"interactive whiteboards,",yes,44,Android,15,Rural Municipality,Christian
20,male,76,4,sometimes,multimedia resources,yes,39,Android,15,Rural Municipality,Buddism
24,Female,84,3,often,multimedia resources,no,42,Android,16,Rural Municipality,Hindu
28,Female,83,2,often,educational apps,no,39,Android,13,Rural Municipality,Hindu
32,male,54,3,always,online platforms,yes,39,Android,16,Submetropolitan,Muslim
34,Female,43,5,often,educational apps,yes,38,Android,15,Municipality,Christian
36,Female,64,4,sometimes,multimedia resources,no,38,Android,15,Submetropolitan,other
40,Female,72,3,rarely,multimedia resources,no,44,Android,15,Municipality,other
44,Female,37,2,sometimes,online platforms,no,41,Android,12,Submetropolitan,Christian
48,male,82,5,often,educational apps,no,44,Android,14,Submetropolitan,Muslim
52,male,72,5,sometimes,online platforms,no,38,Android,14,Rural Municipality,Muslim
55,Female,70,2,always,multimedia resources,yes,44,Android,14,Rural Municipality,Hindu
57,Female,68,4,sometimes,online platforms,yes,41,Android,15,Municipality,other
61,Female,75,5,rarely,online platforms,no,42,Android,15,Municipality,Christian
68,male,87,1,sometimes,educational apps,yes,45,Android,13,Rural Municipality,other
72,Female,74,3,sometimes,online platforms,yes,40,Android,16,Submetropolitan,other
76,male,78,6,sometimes,online platforms,no,39,Android,13,Submetropolitan,Buddism
77,Female,61,4,often,multimedia resources,no,43,Android,12,Municipality,other
80,male,62,2,always,online platforms,yes,41,Android,15,Municipality,Muslim
83,Female,60,3,rarely,online platforms,no,42,Android,17,Municipality,Hindu
86,male,73,5,always,educational apps,yes,46,Android,15,Metropolitan City,other
93,Female,74,3,always,multimedia resources,no,38,Android,14,Metropolitan City,Christian
98,male,63,2,always,online platforms,yes,49,Android,14,Rural Municipality,Christian
102,male,60,4,often,multimedia resources,yes,40,Android,12,Metropolitan City,Muslim
106,Female,61,1,often,online platforms,yes,40,Android,14,Metropolitan City,Muslim
112,male,62,3,often,multimedia resources,yes,49,Android,15,Submetropolitan,Christian
117,Female,66,3,always,multimedia resources,no,42,Android,15,Municipality,Muslim
120,male,71,4,often,online platforms,yes,38,Android,18,Municipality,Muslim
125,male,73,3,often,"interactive whiteboards,",no,41,Android,15,Rural Municipality,Christian
127,male,70,7,rarely,multimedia resources,no,39,Android,13,Municipality,other
131,male,67,6,always,multimedia resources,yes,41,Android,16,Municipality,Hindu
138,male,68,1,often,multimedia resources,yes,39,Android,14,Rural Municipality,Buddism
141,male,71,1,often,online platforms,yes,41,Android,16,Municipality,Hindu
153,Female,61,6,often,online platforms,no,42,Android,15,Rural Municipality,Christian
160,male,78,4,always,educational apps,no,41,Android,18,Municipality,other
165,Female,69,6,always,online platforms,no,37,Android,15,Rural Municipality,Muslim
170,male,49,3,often,multimedia resources,yes,41,Android,18,Submetropolitan,Muslim
184,male,58,2,often,multimedia resources,no,43,Android,12,Municipality,Buddism
187,Female,68,5,often,online platforms,yes,43,Android,18,Municipality,Christian
188,male,65,6,always,online platforms,no,47,Android,18,Rural Municipality,Hindu
192,male,50,2,often,multimedia resources,no,34,Android,12,Submetropolitan,Hindu
194,male,68,2,often,"interactive whiteboards,",no,45,Android,12,Submetropolitan,Christian
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim

In [40]:
df.iat[0, 2] = 4 #Selects and replace the value (0 row and third column)

In [41]:
df

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
0,male,51,4,rarely,"interactive whiteboards,",yes,43,Android,17,Metropolitan City,Hindu
1,Female,55,2,sometimes,educational apps,yes,41,IOS,18,Submetropolitan,Christian
2,male,65,3,always,online platforms,yes,45,Windows,18,Municipality,Buddism
3,Female,79,4,rarely,online platforms,no,40,others,19,Rural Municipality,Muslim
4,male,67,1,often,online platforms,no,44,Android,17,Metropolitan City,other
...,...,...,...,...,...,...,...,...,...,...,...
195,Female,68,5,always,online platforms,yes,44,others,15,Metropolitan City,other
196,male,54,4,often,educational apps,no,45,Android,14,Submetropolitan,Muslim
197,male,72,2,always,multimedia resources,yes,41,IOS,20,Municipality,Hindu
198,Female,52,1,often,multimedia resources,no,39,Windows,17,Rural Municipality,Christian
199,male,54,3,always,multimedia resources,yes,37,others,18,Metropolitan City,other

Statistics in Pandas

In [42]:
df['Age'].mean()

14.9

In [43]:
df["CS_Marks"].mean()

41.165

In [44]:
df["Marks_Math"].mean()

63.725

In [45]:
df["Marks_Math"].median()

64.0

In [46]:
df["Gender"].count()

200

In [47]:
df[df["Gender"]=="male"].count()

Gender                   98
Marks_Math               98
Time_ICT                 98
ICT_Based_Pedagogy       98
ICT_Tools                98
TPD_ICT                  98
CS_Marks                 98
Operating_system_Used    98
Age                      98
Residental_Area          98
Religion                 98
dtype: int64

In [50]:
df.loc[df['Marks_Math']==50]   #Provides the rows data which has 50 in Marks in mathematics

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
70,male,50,6,rarely,educational apps,yes,42,IOS,15,Municipality,Buddism
190,male,50,2,often,educational apps,no,37,Windows,15,Municipality,Muslim
192,male,50,2,often,multimedia resources,no,34,Android,12,Submetropolitan,Hindu

In [51]:
df['Gender'].value_counts()

Gender
Female    102
male       98
Name: count, dtype: int64

In [52]:
df.loc[df["Residental_Area"]=="Municipality"].shape

(57, 11)

In [55]:
df.sort_values(by = 'Marks_Math', ascending=False)

,Gender,Marks_Math,Time_ICT,ICT_Based_Pedagogy,ICT_Tools,TPD_ICT,CS_Marks,Operating_system_Used,Age,Residental_Area,Religion
59,male,94,2,sometimes,online platforms,no,43,Windows,16,Submetropolitan,Hindu
21,male,89,3,always,"interactive whiteboards,",yes,42,IOS,14,Submetropolitan,Christian
68,male,87,1,sometimes,educational apps,yes,45,Android,13,Rural Municipality,other
15,male,85,1,often,educational apps,no,43,others,12,Municipality,Muslim
150,male,85,5,sometimes,online platforms,yes,39,others,15,Municipality,Muslim
...,...,...,...,...,...,...,...,...,...,...,...
22,Female,37,1,always,educational apps,no,38,Windows,16,Municipality,other
5,Female,37,2,sometimes,educational apps,yes,43,IOS,16,Municipality,Hindu
44,Female,37,2,sometimes,online platforms,no,41,Android,12,Submetropolitan,Christian
6,Female,36,3,rarely,"interactive whiteboards,",no,48,Windows,15,Submetropolitan,Buddism
89,Female,33,5,often,online platforms,no,33,IOS,15,Rural Municipality,Christian

In [59]:
df.groupby("Gender", observed=False).size()

Gender
Female    102
male       98
dtype: int64

In [61]:
df.groupby("ICT_Tools", observed=False).size()

ICT_Tools
educational apps            42
interactive whiteboards,    13
multimedia resources        61
online platforms            84
dtype: int64

In [63]:
df.groupby("Residental_Area", observed=False).size()

Residental_Area
Metropolitan City     32
Municipality          57
Rural Municipality    58
Submetropolitan       53
dtype: int64